{% extends "bootstrap/base.html" %}
{% block title %}Learn English!{% endblock %}
{% block navbar %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
<!--
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
-->
<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}">
</script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  function forhint(id)
  {
     //console.log($("#words"+id.toString()).text())
      $.getJSON($SCRIPT_ROOT + '/playhint', {
        word : $("#words"+id.toString()).text(),
      }, function(data) {
         console.log(data.hint)
        $("#meaning"+id.toString()).val("正确答案是:  "+data.hint)
      });

  }
  $(function() {
    $('#validate').bind('click', function() {

        var $word = "";
        var $meaning =  "";
        var $begin = parseInt($('#begin_index').text());
        var $end =  parseInt($('#end_index').text());
        var $i = 0


        for(i=0;i<$end-$begin;i++)
        {
          $wordsid = "words"+i
          $meaningid = "meaning"+i
          $word = $("#" + $wordsid).text()+"=" +  $word
          $meaning = $("#" + $meaningid).val() + "=" + $meaning 
        }

      
      $.getJSON($SCRIPT_ROOT + '/test', {
         word : $word,
        meaning : $meaning 
      }, function(data) {
        $('#allstatus').text(data.result);
        $result = data.result;
        for(j=0;j<$result.length-1;j++)
        {
            if($result[j] == true)
            {
              //$("#status"+($result.length - 2 - j).toString()).html('<span class="glyphicon glyphicon-ok"  style="color:green">正确</span>')

              $("#status"+($result.length - 2 - j).toString()).html('<button type="button" class="btn btn-success" onclick="forhint('
                +($result.length - 2 - j).toString()+
                ')"><span class="glyphicon glyphicon-ok">正确</span></button>')
            }
            else
            {

              $("#status"+($result.length - 2 - j).toString()).html(' <button type="button" class="btn btn-danger" onclick="forhint('
                +($result.length - 2 - j).toString()+
                ')"><span class="glyphicon glyphicon-remove">错误</span></button>')

               //$("#status"+($result.length - 2 - j).toString()).html('<a href="#"><span class="glyphicon glyphicon-remove" style="color:red" onclick="forhint('
                //+($result.length - 2 - j).toString()+
                //')">错误</span></a>')
              //$("#status"+($result.length - 2 - j).toString()).append('<button type="button"  class="btn btn-primary" id="list_more_words">来点提示！</button>')
            }
        }
      });
      return false;
    });


      
    $('#list_more_words').bind('click', function() {
        var $begin = parseInt($('#begin_index').text());
        var $end =  parseInt($('#end_index').text());
        if($end-$begin<8)
            $begin = $end - 1;       
        else
            $begin = $begin + 7;          
      $.getJSON($SCRIPT_ROOT + '/playmore', {
        begin : $begin,
      }, function(data) {
        $("#begin_index").text(data.begin);
        $("#end_index").text(data.end);
        setTimeout('window.location.replace("http://120.27.129.119:5000/play")', 100)
      });
        

      return false;
    });
  });
  /*
  
    
  })*/
</script>
<!--navbar-fixed-top-->
<div class="navbar navbar-inverse " role="navigation"> 
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" 
        data-toggle="collapse" data-target=".navbar-collapse"> 
        <span class="sr-only">Toggle navigation</span> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">赵原 制作</a> 
    </div>
    <div class="navbar-collapse collapse"> 
      <ul class="nav navbar-nav">
         <li class="active"><a href="/playforall">背背单词！！</a></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               换一批单词 
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="#">按日期</a></li>
               <li><a href="/playfrommistake">只做出过错的</a></li>
            </ul>
         </li>
         <li><a href="/enterwords">录入单词</a></li>
          <li><a href="#">统计</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}


<div class="container">
  <div class="page-header">
    <h1>Hello,你个陆豚</h1>
  </div>
</div>
<div class="container">
  {% for message in get_flashed_messages() %} 
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}

  {% block page_content %}{% endblock %}
</div>
<div class="container">
  <!--<p>哟哟</p>--> 
  <div class="table-responsive"> 
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>words</th>
          <th>meaning</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
	     {% for n in range(end-begin) %}
          <tr>
              <td style="width: 35%" id="words{{n}}">{{WORDS.wordsarray[begin+n][0]}}</td>
              <td style="width: 35%"><input type="text" name="meaning{{n}}" id = "meaning{{n}}" class="form-control" ></td><!--value="{{WORDS.wordsarray[begin+n][1]}}"-->
		          <td style="width: 30%" id="status{{n}}">?</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
	<tr> <button type="button" class="btn btn-primary" id="validate">验证</button>
        <button type="button"  class="btn btn-primary" id="list_more_words">再来几个！</button></tr>
  <tr><span id = 'begin_index' style="display:none">{{begin}}</span></tr>
  <tr><span id = 'end_index' style="display:none">{{end}}</span></tr>
  <tr><span id = 'allstatus' style="display:none">{{status}}</span></tr>
  </div>

</div>

{% endblock %}
